* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

/* Page Layout */
.title {
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
  text-shadow: 6px 4px 0px #edaffc;
  color: black;
}

/* Game Area */

.gamearea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 20px;
}

/* Stats Panel */

.statspanel {
  width: 400px;
  height: 50px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.score,
.time {
  display: flex;
  align-items: flex-start;
  width: 33%;
  font-size: 20px;
}

.score > p,
.time > p {
  margin: 0;
  font-size: 10px;
}

/* Snake Grid */

.snakegrid {
  margin: 10px auto;
}

/* Game Grid Container */

.grid-container {
  margin-bottom: 10px;
}

.grid {
  align-items: center;
  box-shadow: -15px 0 0 0 black, 15px 0 0 0 black, 0 -15px 0 0 black,
    0 15px 0 0 black;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 400px;
  width: 400px;
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
}

/* Characters */

.grid div.snake {
  background-color: #aaf0d1;
  cursor: pointer;
}
.grid div.food {
  cursor: pointer;
  background-color: #edaffc;
}

/* Stats Display */

.display {
  display: flex;
  margin: 0 auto;
  width: 400px;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.display p {
  font-size: 30px;
  color: #fd4d53;
  text-shadow: 4px 2px #0d6efd;
}

/* Modal */

div#staticBackdrop.modal.fade.show {
  display: flex !important;
  --bs-modal-inner-border-radius: 0 !important;
  justify-content: center;
  align-items: center;
}
.modal-dialog {
  display: flex;
  justify-content: flex-end;
  border: 2px solid black;
}
.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: black 2px solid;
  background-color: #edaffc;
}
.modal-body {
  display: flex;
  justify-content: center;
  background-color: #6ffdfd;
  font-size: 30px;
}
.modal-buttons {
  background-color: #6ffdfd;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 20px;
}

.modal-buttons button {
  transition: background-color 0.3s;
  border: 1 pixel solid black;
  background-color: #6ffdfd;
  margin-left: 0;
}
.modal-buttons > button:hover {
  background-color: yellow;
}
.modal-footer {
  border-top: black 2px solid;
  background-color: #aaf0d1;
}
footer > p {
  font-size: 5px;
  padding-left: 20px;
}
