* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    font-family: 'VT323', monospace;
  }

/* -----PAGE LAYOUT----------------------------------------------------------------*/
.title {
  margin: 0 auto;
  font-size: 50px;
}    

.gamearea {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin: 20px;
      
  }
  .statspanel {
    /* border: 1px solid red; */
    width: 400px; 
    height: 50px;
    margin: 10px auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-end;
  }  
   .score, .time, .snakestats {
    display: flex;
    border: 1px solid black;
    width: 33%;
    height: 50px;
    font-size: 20px;
    text-align: left;
    align-items: flex-end;
  } 

  .score > p {
    display: flex;
    justify-content: flex-start;
    text-align: end;
  }
  .snakegrid {
    margin: 10px auto;    
  }
  
  /*------ FOR GAME GRID---------------------------------------------------------- */
  .grid-container {
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }
  
  .grid {
    /* border: 1px solid black; */
    align-items: center;
    box-shadow:     -15px 0 0 0 black,
                    15px 0 0 0 black,
                    0 -15px 0 0 black,
                    0 15px 0 0 black;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    height: 400px;
    width: 400px;
  }
  
  .grid div {
    border: 1px solid lightgrey;
    flex-grow: 1;
    /* height: 10%;
    width: 10%; */
  }
    /*------ CHARACTERS---------------------------------------------------------- */

  .grid div.snake {
    /* background-size: contain; */
    background-color: chartreuse;
    cursor: pointer;
  }
  .grid div.food {
    cursor: pointer;
    background-color: cornflowerblue;
  }

  /*  ------- MODAL------------------------------------------------------------- */
  /* #staticBackdrop {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
  }

  .modal-dialog {
   box-shadow:  6px 10px 12px #000;
  }
  .modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    border: none;
  }
  .modal-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .menubtn {
    padding: 10px;
    background-color: white;
  }

  .menubtn:hover { 
    background-color: aqua; 
   
  } 
 */

  